.footer {
  padding: 60px 70px 20px 70px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__links {
  padding: 0;
  margin: 0;
  display: flex;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  padding-left: 20px;
  margin: 0;
  list-style: none;
}

.footer__link-src {
  text-decoration: none;
  color: black;
  transition: 0.2s linear;
}

.footer__link-src:hover {
  opacity: 0.8;
  transition: 0.2s linear;
}

.footer__data {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  padding-right: 20px;
}

@media all and (max-width: 850px) {
  .footer {
    padding: 61px 24px 20px 37px;
  }
}

@media all and (max-width: 630px) {
  .footer {
    padding: 61px 10px 10px 10px;
  }
}

@media all and (max-width: 630px) {
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 630px) {
  .footer__contacts {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media all and (max-width: 630px) {
  .footer__links {
    padding: 11px 0 0 0;
    flex-direction: column;
  }
}

@media all and (max-width: 630px) {
  .footer__link {
    padding: 0 0 12px 0;
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 630px) {
  .footer__data {
    padding: 19px 0 0 0;
    color: #a0a0a0;
    font-size: 12px;
    line-height: 15px;
  }
}
